/* home utility clasees */
*{
    margin: 0;
    padding: 0;
}
.primary-h{
    font-size: 3rem;
    padding: 12px;
}
/* services utility classes */
.h-secondary{
    font-size:1.8rem;
    padding: 10px;
}
.center{
    text-align: center;
}
.btn{
    padding: 10px 40px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    background-color: rgb(512, 50, 65);
    border: 2px solid white;
    border-radius: 10px;
}
.btn:hover{
    background-color: white;
    color: black;
}
#btn2{
    margin-left: 100px;
}
.orderbutton{
    margin-top: 75px;
}